@CHARSET "ISO-8859-1";

fieldset{
	width: 300px;
	background-color: rgba(183, 183, 183, 0.7);
}
fieldset input, textarea, select, option {
 background-color:white;
 border-radius:5px;
 border-color: 1px solid black;
 }
 
fieldset input[type=submit] {
        width:80px;
        /*font-family: Arial, Helvetica, sans-serif;*/
        font-size:14px;
		font-weight:bold;
        margin-left:5px;
        /*box-shadow:1px 1px 1px /*blue*/;
        cursor:pointer;
        color:white;
        font-family: times ;
        background: -webkit-gradient(linear, left top, left bottom, from(#CCFF66), to(#339933));
		background: -moz-linear-gradient(top, #CCFF66,  #339933);
        border-top-right-radius: 5px 5px;
		border-bottom-right-radius: 5px 5px;
        border-top-left-radius: 5px 5px;
		border-bottom-left-radius: 5px 5px;
 }

fieldset input[type=submit]:hover{
 background-color:#4CAF50;
 box-shadow:1px 1px 1px greenyellow inset;
}